Makefile
build-stamp
configure-stamp
debian/meneamigo.debhelper.log
debian/meneamigo/
meneamigo.pro.user
qtc_packaging/debian_harmattan/manifest.aegis
src/Makefile
src/controller.o
src/core
src/l10n/meneamigo.es.qm
src/l10n/meneamigo.qm
src/main.o
src/meneamigo
src/moc_controller.cpp
src/moc_controller.o
src/qrc_res.cpp
src/qrc_res.o
