Makefile
build-stamp
configure-stamp
debian/chuzamigo.debhelper.log
debian/chuzamigo/
chuzamigo.pro.user
qtc_packaging/debian_harmattan/manifest.aegis
src/Makefile
src/controller.o
src/core
src/l10n/chuzamigo.es.qm
src/l10n/chuzamigo.qm
src/main.o
src/chuzamigo
src/moc_controller.cpp
src/moc_controller.o
src/qrc_res.cpp
src/qrc_res.o
