Source: meneamigo
Section: user/Other
Priority: extra
Maintainer: Simon Pena <spena@igalia.com>
Build-Depends: debhelper (>= 7), applauncherd-dev,
 maemo-meegotouch-interfaces-dev, libmdatauri-dev
Standards-Version: 3.8.4
XB-Maemo-Flags: visible
XB-Homepage: http://projects.developer.nokia.com/meneamigo
XB-Bugtracker: http://projects.developer.nokia.com/meneamigo/query

Package: meneamigo
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: Meneamigo is a Meneame client for MeeGo
 Meneame is a Spanish-speaking web site for news promotion. Its
 users can send news, vote them and coment on them.
 .
 Meneamigo allows you accessing Meneame content, showing you
 the list of news in a way optimized for your device screen -both
 published and pending news-, displaying their comments, and
 making it easy to share them using the system accounts.
XB-Maemo-Display-Name: Meneamigo: a Meneame client for MeeGo
XB-Maemo-Display-Name-es_ES: Meneamigo: un cliente de Meneame para MeeGo
XB-Description-es_ES: Meneamigo es un cliente de Meneame para MeeGo
 Meneame es un sitio web de habla hispana para la promocion de noticias.
 Sus usuarios pueden enviar noticias, votarlas, y publicar comentarios sobre
 ellas.
 .
 Meneamigo te facilita el acceso al contenido de Meneame, presentandote
 la lista de noticias de un modo optimizado para tu dispositivo -publicadas
 y pendientes-, permitiendote ver tambien los comentarios realizados en
 cada una y facilitando compartir las noticias con las cuentas del sistema.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAKRWlDQ1BJQ0Mg
 cHJvZmlsZQAAeNqdU2dUU+kWPffe9EJLiICUS29SFQggUkKLgBSRJiohCRBK
 iCGh2RVRwRFFRQQbyKCIA46OgIwVUSwMigrYB+Qhoo6Do4iKyvvhe6Nr1rz3
 5s3+tdc+56zznbPPB8AIDJZIM1E1gAypQh4R4IPHxMbh5C5AgQokcAAQCLNk
 IXP9IwEA+H48PCsiwAe+AAF40wsIAMBNm8AwHIf/D+pCmVwBgIQBwHSROEsI
 gBQAQHqOQqYAQEYBgJ2YJlMAoAQAYMtjYuMAUC0AYCd/5tMAgJ34mXsBAFuU
 IRUBoJEAIBNliEQAaDsArM9WikUAWDAAFGZLxDkA2C0AMElXZkgAsLcAwM4Q
 C7IACAwAMFGIhSkABHsAYMgjI3gAhJkAFEbyVzzxK64Q5yoAAHiZsjy5JDlF
 gVsILXEHV1cuHijOSRcrFDZhAmGaQC7CeZkZMoE0D+DzzAAAoJEVEeCD8/14
 zg6uzs42jrYOXy3qvwb/ImJi4/7lz6twQAAA4XR+0f4sL7MagDsGgG3+oiXu
 BGheC6B194tmsg9AtQCg6dpX83D4fjw8RaGQudnZ5eTk2ErEQlthyld9/mfC
 X8BX/Wz5fjz89/XgvuIkgTJdgUcE+ODCzPRMpRzPkgmEYtzmj0f8twv//B3T
 IsRJYrlYKhTjURJxjkSajPMypSKJQpIpxSXS/2Ti3yz7Az7fNQCwaj4Be5Et
 qF1jA/ZLJxBYdMDi9wAA8rtvwdQoCAOAaIPhz3f/7z/9R6AlAIBmSZJxAABe
 RCQuVMqzP8cIAABEoIEqsEEb9MEYLMAGHMEF3MEL/GA2hEIkxMJCEEIKZIAc
 cmAprIJCKIbNsB0qYC/UQB00wFFohpNwDi7CVbgOPXAP+mEInsEovIEJBEHI
 CBNhIdqIAWKKWCOOCBeZhfghwUgEEoskIMmIFFEiS5E1SDFSilQgVUgd8j1y
 AjmHXEa6kTvIADKC/Ia8RzGUgbJRPdQMtUO5qDcahEaiC9BkdDGajxagm9By
 tBo9jDah59CraA/ajz5DxzDA6BgHM8RsMC7Gw0KxOCwJk2PLsSKsDKvGGrBW
 rAO7ifVjz7F3BBKBRcAJNgR3QiBhHkFIWExYTthIqCAcJDQR2gk3CQOEUcIn
 IpOoS7QmuhH5xBhiMjGHWEgsI9YSjxMvEHuIQ8Q3JBKJQzInuZACSbGkVNIS
 0kbSblIj6SypmzRIGiOTydpka7IHOZQsICvIheSd5MPkM+Qb5CHyWwqdYkBx
 pPhT4ihSympKGeUQ5TTlBmWYMkFVo5pS3aihVBE1j1pCraG2Uq9Rh6gTNHWa
 Oc2DFklLpa2ildMaaBdo92mv6HS6Ed2VHk6X0FfSy+lH6JfoA/R3DA2GFYPH
 iGcoGZsYBxhnGXcYr5hMphnTixnHVDA3MeuY55kPmW9VWCq2KnwVkcoKlUqV
 JpUbKi9Uqaqmqt6qC1XzVctUj6leU32uRlUzU+OpCdSWq1WqnVDrUxtTZ6k7
 qIeqZ6hvVD+kfln9iQZZw0zDT0OkUaCxX+O8xiALYxmzeCwhaw2rhnWBNcQm
 sc3ZfHYqu5j9HbuLPaqpoTlDM0ozV7NS85RmPwfjmHH4nHROCecop5fzfore
 FO8p4ikbpjRMuTFlXGuqlpeWWKtIq1GrR+u9Nq7tp52mvUW7WfuBDkHHSidc
 J0dnj84FnedT2VPdpwqnFk09OvWuLqprpRuhu0R3v26n7pievl6Ankxvp955
 vef6HH0v/VT9bfqn9UcMWAazDCQG2wzOGDzFNXFvPB0vx9vxUUNdw0BDpWGV
 YZfhhJG50Tyj1UaNRg+MacZc4yTjbcZtxqMmBiYhJktN6k3umlJNuaYppjtM
 O0zHzczNos3WmTWbPTHXMueb55vXm9+3YFp4Wiy2qLa4ZUmy5FqmWe62vG6F
 WjlZpVhVWl2zRq2drSXWu627pxGnuU6TTque1mfDsPG2ybaptxmw5dgG2662
 bbZ9YWdiF2e3xa7D7pO9k326fY39PQcNh9kOqx1aHX5ztHIUOlY63prOnO4/
 fcX0lukvZ1jPEM/YM+O2E8spxGmdU5vTR2cXZ7lzg/OIi4lLgssulz4umxvG
 3ci95Ep09XFd4XrS9Z2bs5vC7ajbr+427mnuh9yfzDSfKZ5ZM3PQw8hD4FHl
 0T8Ln5Uwa9+sfk9DT4FntecjL2MvkVet17C3pXeq92HvFz72PnKf4z7jPDfe
 Mt5ZX8w3wLfIt8tPw2+eX4XfQ38j/2T/ev/RAKeAJQFnA4mBQYFbAvv4enwh
 v44/Ottl9rLZ7UGMoLlBFUGPgq2C5cGtIWjI7JCtIffnmM6RzmkOhVB+6NbQ
 B2HmYYvDfgwnhYeFV4Y/jnCIWBrRMZc1d9HcQ3PfRPpElkTem2cxTzmvLUo1
 Kj6qLmo82je6NLo/xi5mWczVWJ1YSWxLHDkuKq42bmy+3/zt84fineIL43sX
 mC/IXXB5oc7C9IWnFqkuEiw6lkBMiE44lPBBECqoFowl8hN3JY4KecIdwmci
 L9E20YjYQ1wqHk7ySCpNepLskbw1eSTFM6Us5bmEJ6mQvEwNTN2bOp4WmnYg
 bTI9Or0xg5KRkHFCqiFNk7Zn6mfmZnbLrGWFsv7Fbou3Lx6VB8lrs5CsBVkt
 CrZCpuhUWijXKgeyZ2VXZr/Nico5lqueK83tzLPK25A3nO+f/+0SwhLhkral
 hktXLR1Y5r2sajmyPHF52wrjFQUrhlYGrDy4irYqbdVPq+1Xl65+vSZ6TWuB
 XsHKgsG1AWvrC1UK5YV969zX7V1PWC9Z37Vh+oadGz4ViYquFNsXlxV/2Cjc
 eOUbh2/Kv5nclLSpq8S5ZM9m0mbp5t4tnlsOlqqX5pcObg3Z2rQN31a07fX2
 Rdsvl80o27uDtkO5o788uLxlp8nOzTs/VKRU9FT6VDbu0t21Ydf4btHuG3u8
 9jTs1dtbvPf9Psm+21UBVU3VZtVl+0n7s/c/romq6fiW+21drU5tce3HA9ID
 /QcjDrbXudTVHdI9VFKP1ivrRw7HH77+ne93LQ02DVWNnMbiI3BEeeTp9wnf
 9x4NOtp2jHus4QfTH3YdZx0vakKa8ppGm1Oa+1tiW7pPzD7R1ureevxH2x8P
 nDQ8WXlK81TJadrpgtOTZ/LPjJ2VnX1+LvncYNuitnvnY87fag9v77oQdOHS
 Rf+L5zu8O85c8rh08rLb5RNXuFearzpfbep06jz+k9NPx7ucu5quuVxrue56
 vbV7ZvfpG543zt30vXnxFv/W1Z45Pd2983pv98X39d8W3X5yJ/3Oy7vZdyfu
 rbxPvF/0QO1B2UPdh9U/W/7c2O/cf2rAd6Dz0dxH9waFg8/+kfWPD0MFj5mP
 y4YNhuueOD45OeI/cv3p/KdDz2TPJp4X/qL+y64XFi9++NXr187RmNGhl/KX
 k79tfKX96sDrGa/bxsLGHr7JeDMxXvRW++3Bd9x3He+j3w9P5Hwgfyj/aPmx
 9VPQp/uTGZOT/wQDmPP87zWUggAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAAAd0SU1FB9wDHxEcAvNvvtsAABUPSURBVHjazZt7
 dFzXdZ+/fe6dJwbAkCBIEAQBUqAkQqYiSlToB23LZuxaltQuxU5qN65or2X6
 EbVq1eU0K/Wyq6Z51FHjJE7WshuXy7IZR3YkV3KUWFZpvWiLrqRY1IsSSfEJ
 EADxfg0wj/s4u3/cGWAADEmApOQAa9adPefefe7Z5+y9f3uffYRL/NPdGEBl
 D1qmBYgBSSBdvsbL350lsg2BPOABxfL3IuAv6EdkD/ZS3l8uiwAaVtYRo5VE
 sp1YvJ10fScxtx2jLThuM4YMjtOMEIdoANhw9isIiAGRiFA8wnAYyzRhMIyV
 Afygh3zuBL7fQ6nQg08/U2MzvzQB6O9fk0Zz20mkdhJztxBzOnC0DUez2NAh
 KBqCohB60WBDLxqaqoAq1hfUKopgHMW4AqZ8D4ITB+OC44KbUtykxTghoZkg
 pBc/7MYPDlHKP4k0PC/3vJ5/SwSgu1nBhs7byaR34TpdGK+JcMahlBOCIgS+
 RgOzMjfDaLmv5V6r3tRRxAhuTHCTkGhQnHSIjY8ShIeZzu/l9Ikfyh7G3xQB
 6G5SbOi8jcb6O3F1B8FUjMIolPIWDS2oKQ/VVA16rh+ponUJ9MLn576Vl7xY
 xDEk0oZUE7gNPoEcYDL3dU6f+EfZQ+GyCUB/Z8VmmlbdTX1qFzqTItcPXiEs
 N5taj1TxFsBeZrpaOJFA4imH+laQugK5wl5GR/5C/nT8yCULQL+07oNkG75C
 Sq5nqk8oTtpy91L1MvpLpJn9TYBko6FhnVLQF5mY/D35w/6fXLQA9Eutv86q
 VV9Hcy1M9lkCTwFTXoZmwSz88umyf8GNC43rDFI/wMjInfKH/Q8vWwD6xZYP
 smrVXuxECxN9IaqCRD6/xjL850QLikVEya5zMNkBRkZ2yR8P/GTJAtAvrNhM
 8+q/xS3ewFh3uGC5vRk6fTlp5qnFyg6HIHmQ4aFPyFcX2wRT09o3ZO8mxvWM
 91ssUv5Qvmr5+z9XGq1fr1q/XrAYxvstMa6nIXu37ia1cLzuoulvWXcb6cQu
 pvqFwK/oWuWqNfz6BWk1rvKO3xa96makoVU00SCYGCIGVSviF0QLY8jocfin
 Pcip/cviHxlAR9BQAYJ178S3kJw4IybwLVNnDZnWXbSsewL6HjynCuhuVtC5
 +SF0+n1M9NqyXb04nRSj2rQJ2XGX8M47UYkAICKoX0JtGP2GwXHdSBiV9/Bm
 kMf/QDn0A2TqLATF8/e3uksUUYZeR4DC2z4u/rZP497/MU0HY5FVyLYZJPM0
 J458pBoszV8Ba9bfDuEOciNUIezl62SmxbLz94zsuAsFQr/E5GAvUxNj5HKT
 jPZ3U5ieApREup5s81oask2kMg3UNTTS2NQCt3xFuOUr2MOPIge+pgy+jkz1
 1+zP3vBJne49TGLwBAlKwsyord98kzlbdwWpiTFEgdwINKR2RGM8c98iAegX
 VqeJx3bhT8coFUMEcw5Edl5amzrVfvpRY5o3AdBz9GVeeeYxvJEeYrk+6jVH
 SvOaVQ8jKgGOlkjQY1KSdxrRbDtOtoX2q6/n2h3/ArpuQbpukbDvZTjzPGbf
 f1PJDcz1f92/Vt717+Tst/+jrldHUNT4JcIwYGrltbJm7EV1JBRKxRB/OkY8
 tUt/d83fyb2D+fkrwGE7RrqYnpiDGsvV+aZO1S+8LCaeBlUe/943yB39KW2l
 U7bV9kvWTpDQIg6hNVU2xSI2wDGeJMgV6hkdbNKhk0+YHz7zQ1Z1vZN3fPhj
 uG1b0bathNd+VGTgEOboY+j6G2HzrVKcHGYyV2CDDTRaEgEAxbp1eBojVbYN
 zExAJt0Fuh14GsAtx/PgODsJ/Sa8ksViFjgVZ8FM16TDzz0u4iax1vL4d79G
 4vAjusN/nZV2zMQIz/m8QZ04gcY1IMMMa8JBsyk4oWPF1+gbf4G/f+4R6Xj/
 b3HFtdvJNGSJbXy30PlejCpB6HP6+BHc4SO4Gg2cWMo4sQSeJAlwK/GJ4pUs
 od+E4+zU3fxU9mDdMoTMYNwteAWH0IaAUzW8JdmA4LavGJNtA+D4iz+n/vUf
 6K+UXiaj+WXbEIPaJEVp5SyrgyHpNMdt/74j8uwT6yWf3cTarl9lRfNaUEt/
 9wmmXt2nO4I+HGvLNmiNAlLM58GKlB2lgLV4BQeT3IJQB+Rc2YPqXZlWRDoo
 5qUqmlu69W9oJdx8K67jkM9NcubRv9IbS6+TsflLRnguoa4Mx1kZjnOFnGS0
 9KqOj+xnwmQIMNKoJb0m6NXmcFgAUTFqbrpbBPBGezAaaBVHQykvpFIdJDOt
 MH00sgFurB21bYR+xfovyw+XVl2D09QBwPjZ02wYP6gNwaRcLG44F52moOmw
 j/V+n7UYo4gKIab6/lv+qzgd2zi47wHqxo5rPPSZFzyFPqhtw4m1A0dd3Y1g
 3HaszRKEeo54/rw2oNDQYbLJOlSVySPP0u4PGKNLf/5iaIOd3x6vUz7yVWHH
 Zxg/c4zeF/ezzT9TsQvOrBCCULE2i+O2627EBWK48U7CwCEMdbnxvBUj/qqr
 Z+83Q0dJ2eJbhv01lRW5eqfa2+8VWbWRqcEenn30+9o2/BzN/iAy/34lDJUw
 dHATnUDMBZKotBN4Zp6Ml6ijVhwNM2tERVBVUqmUGg3fkihQP/xl4Zqb0Y1v
 FxHh+PNP8uqBfazpe4bNxSPENVj4fMQj8AQ31g4kXSCNagu+HwUWy9RRtZbp
 /pO6RiNgW9f5q6I/EyvoZbcBs/St96Dv+pRodh1iHAoTI+x/6NvMnDzIpvwR
 var4hk1roVbsEgnA98HRtRUBJBFpJgyqZbVknXRQZKJPAq9ELJEk0boZq45j
 CC6rzqubUK5+P/q5B4V4WrAhhckxDr9wgKNP/h/We2f0utJxmv0hYoTn46eE
 gSDSXBFAHKsZrKUq1bU0HUxlMX5eEv0v29zogFnZuoHkmg4Kbdts/ZnnLpvO
 a9t1Vu/4ppENN2JEyI0O8cZLz3L48QdZVzrDTd5Ju9oflLj6S+NvLVitA+Jl
 FaC5SgBL08E1V2H/7TdE3/iZNv7ofzJ59iQr1nbgxJPobfcY+41b1ahess5r
 1wfUfuZ+YzJNCNB95BX+6e+/o9mhl+XdxROs9c9qQr3l8bdWUJqBtAs4WI0T
 qpZtgFwwvm/qUP8z3zexjq2MnT4i2aBo+5/6lvpb3iWxRJK6LTspXfUhUocf
 uzSdv+HXlc99T4wTA+Cln+3j5I/voyv3qm4sdZO2eS6OvypKPHKnAFYjsKjl
 7LyWofDcZ452U3gfvdeJdWxFVOne9101GjqNxx4nLEapeMeN4e6+T2y2nQvy
 Ow8d/Mt7BDeOAGMDfZz+8bfYPn5Au/JHTTrML5vf7McihFYBdSsCQTXalLqA
 DpXe81lJbP8NAH7xD99ldf6MGMU2BjlRGzBw6g1aNlxJrHE1/hcPCHs/j4yc
 slKYErUhOK4QS1px4qKxBPQdEgm8mv15xQLp8jsf2vcA1068oK2lPjGXnjMs
 b9FVwuEghNBeUIfCNZsl/vE/AeDUoYOUnr6PluKgomDqmzn91AMcP/QSN3/x
 6xjHJda0Dr37EYKh00YKU6Bhea8vYYglkGQG709u1tSZgzX7s+UVFQQBqfww
 LcUBMfZy4AgrleDUrcqfMg8x1dCh8FP/C+PGmRwdpvfR/82WiZc1biOsHSgS
 PvHX+it4TJ45JtkNXaCKiBBbsxHVufwaquV0GAw1b6Wj52Dt/ka6UVVCr0Si
 NBn1pZcDV6gSRY5lAcx3gTX9cLBui5qN29AwpPcXT7Hx2D9q1i+n1kQcd2pQ
 OxlEVDn41U8zfOUHWNl+FSta2kg3rsAYJ4qzVCnO5Bg5c5IzL/6MLcPPRzpa
 w2/bIweU9+8SVYvjlxCdfc9LxRWC1l4B59Qh/2N/apKpOqaGB/B/+D90TXEw
 yrWBWFUboyRl6CVvy71mp145I/nX0uRNSgadpIbioiIYVYlZT1eGM2wMc6z0
 xqri9fn9m5f+AeGvcWMJnESqegPsMtiA6pygRtnZaEt7sc4ErV1o69WIKscf
 /Q6d+dMas8HsXl1VAkEEtD6Ypj6Ynn1eo7mTcrOayALJhXQ2mR+T0uQo8cYm
 NFGPqplNfV+SDRApI/XKxojVysaCLV+1+ppv20aqeT3Tk2MkDvyNNnhTWuu+
 c13FqjpWcaxVxyqyxOfiYaDD+x9QBVJXbhNfEsvq99xXoewGKwKwkQusgQOs
 m0Tf+0mDMbz+yLdZn+/DqF6UX18uLaqYV36CAdre+WEKmTWXib9W3KAYIETx
 yjigAoZs5eZidr00bN0JqsSP/Vzr/al57Qvvv9x0pvdFCXyPWKqOmXVbsZfO
 P/rNqgeEBsijdjiyAVRWwuyNhbatKkAhN8nKoSNiVHUB8zeVTk2e1YGnHgRV
 krf8e/Elfqn8K/ZuGMgbwEN1GoSqmxUFq6LBpnegqoyfOkxjYXhe+1txdUMf
 8+rjGgQ+q69/L5PNXZfKN7K/qjOAZ4AiqsNR1ni+zlgMTvsWEWPwRvtJ+vk3
 Vedr0aJQd/oFyQ/1oyK4n/qqhCoXz9+iZWcwDBRdII/oAOooC+Jpi0FSDaCK
 i2IiwHRRflhFRJL1aCwhEktGVRzGoDYU/JKV4rSQn6z5fHrgqJ3oPmTqWztI
 XXkDE5l1tinXe3E4QAE1Cnq2IoAioj1EzkmqdoTBiPiFaRRIrV4PEhNscXl+
 N5bUcNutYju3ibZ0Yla1Q0OTwYkhxkFF0OK0kekxmB5HxvqRB/47ZrR3ll+M
 gOCRr2lww69Joq6eyY982eh9n9cFabel4gALRqMxRwLwsd4J1A2xxGYdIQhW
 Nd99BG7cKSuvuZFivE5jxdyysLf1Sky/8oydPHbEzMTrKcbrKDlJDRL1xjas
 wsmuZvU1N9K54wOIcbDFPMP/78c0j/RW8v0Amj32cykO9ZFp30R8y7vJZdtp
 GO9ebixQMYQB1jsB+NHO0B22B2ECZDWqWsHOBot34hWQqDyo0L6V9KuPLQt7
 G5SG6SEnPTOiKg5WBCuOCcTVkhNnxq1j7LmHZN/ffY0dv/9tEnUNDIeuaVbR
 KpZOMijowFP3a/2uL0tmzXoGr3gHmV90VzYxlvI+ZUGIRGO1PbJnFsWGPRjt
 LbvCyj/GhsR7D4mGUZrb+ch/Fr0IPyyqNmZD4qFHMihJ2s/bBm+K5sIIG3Ld
 csPoS/am/v1qx86iNsROjWuUo5jjJwp1j/wZXn6GWLqO0qa340liOTigMiqi
 sYY9ACbaGaIf0W5wFC3DYY00pXHgmB578hEAsltvovDRL83V5OiCGp1qutoP
 V7fXohVSQRHjl6IFOD6IqcEv401J/w/+UgXIbv+Q5NNNi/28PQcOiHhYcBTR
 bgz9FSgsxJhB7CGMhLNbY2W/WV+aoPTMQ3ZmchwVIfHxL4p3610LYqrZKF3n
 RVs6+8tcey26MjeJJGotsdCryc8oWvf0XhRY1dnFdLo5UthqPtT0/8yW8RoJ
 EXuIGDORnd+DlT1YjH2SmIyiYqgqkInbgHWvPWZ69v8IDUNMPIH72T8zpdt/
 B5vKLNSxS6JN/QpK+WmSoWdq3h9Pkd36nqj4YWaagolXbNuF+EdjUjHEZBRj
 n6yU2c915ITP4+hhXHd+5CzIyuKoTX7/Hj38+MN4Xgkxhvjue8X/4/3iv/1f
 CWs32Uhu5bLo+RVGS6KDdCNuZgWlmSkSYXFBu1i9ajvBHz0h7n/4pgAcfvrH
 xKdHQfT8/KvLr10XHD2MEz6/qEZI9pLXO9iL5+yg6Mcws+WnKkBHroee7/wu
 L5w6wnWfuIu6+kYSV16PfulhvL7jhsHTOD2v4bzwqOqr+5HQr1RtLsjE1KbD
 m3+bWKqO6f5umoL87GD0fXdouHOXmKu3i5PKgAj9xw4ztu+7bCoMi5yPv8ye
 PlAsDnHHJ657ZS/5c5fJTcQfoqjvw/rVaMoCxmIYTjVztGMHK2/bLVtu+tBs
 +Vvk9C3WL6FeEaYnYGIQpscxo70qfW8gZ4+jZ48j/ccsgT+3+sTY4h884SSu
 ey8/v+fTbL9mk5ptHxJtasNkskg8gagSWstT93+T4Nkf6dahF1hdGKws4QvV
 EivGNSTN02S9eWVyi0pl9d+Y36Tofoeil8IQzupTlWTzTkpON2zQ7lVdsvGj
 n2f1FZtJ1jfgxGK4rosYB2PKtjRKuZeTMIKUg8nKb95LT6L3foL+NW/T1/yU
 XDVxTFdmkmLu/haZDZsJPI+xwX5OPf9Txp/7v7RPdWtn7qTUe7nFM70o84MA
 IRaHZLxAMvikfM8+eN5aYd1Nimn3z5mRzxL6OstqfmdWQfJumuFUswylVut4
 vFHindeRadtEqrmFeDqDGHdOcqqEvge+DzYklk6TaV7LyW/8F7q6D9hkWJBQ
 XFJhUQJx7Kn6DTJ45XukMNTLisKYri4Os6o4QiaYEVGdW53l96mJ/aXcveMK
 dXyTTPCfFh6kqF0sfQebKbp/S97egNqwzMrMc3BRB4KioThaMnHxnbh4Jq6+
 cTUwroBU4Fw5B2glqhxRLTkJmUytlLbJbl1VHFETmZrZ8wAWI3k3KUZV47ak
 bpSvXOp5AmYRgBiHtDlIMviE/A1Hll4u/1t8kKK7l5JtKQvBVBmZC9bv6zna
 yx1aC8aKwVV7ec8PzM27RYxDwgyQDHbJ/dQslzfnPEhwPz8hGdxJwhmIwrao
 6rXcibNAhIv8sFRNiVTRczU+VAY/n99ScIOclw5nZz7hDJAM7jzX4M8rgLIQ
 Hibp7yLJQYwR7GyQYReHmLOjlfO2U6Ndz9Mu5+AvNVwdZXdnHCHJQZL+Lrmf
 hy/90NQdbKYkd1Myu/DCVFl04YJTYtXLr7aOzlnrpdGLn5+z8LrgFJmtoEWn
 QMLuJaF/UUvnL+3Y3DS3UTJ3ErCDUGNR+ftsaGOqBrFwJ+ZSdbyWgCpAzSAC
 jvi4HCBhv06Gy3tsbhFYmuZ2fLOLkC4CmgitUzVDi2dwsZ9e6l+tpEY5syuK
 IyEuozgcJmb3kuHNOzi5SBC7SBOwnYCdWNlCQAchbVjJRrVTaso4ff6O3JzO
 Lr5W3zPvOVFELBBidAKHXly6cfQQDk/i8nw1vH1LBFC1Igw+dVhaCWlHaSeU
 TkLaCVmLpRmlrnyNU+tY7OKl7mEYRpjBMIzDWRx6cPQEQg8OPRj6iTHzSz89
 XkMg1cfnK5/q4/O6hHdaeHy+8pk9Pn+5/v4/vMGXGSldOQAAAAAASUVORK5C
 YII=
