Source: chuzamigo
Section: user/Other
Priority: extra
Maintainer: Juan A. Suarez Romero <jasuarez@igalia.com>
Build-Depends: debhelper (>= 7), applauncherd-dev,
 maemo-meegotouch-interfaces-dev, libmdatauri-dev
Standards-Version: 3.8.4
XB-Maemo-Flags: visible
XB-Homepage: https://gitorious.org/spena-playground/chuzamigo

Package: chuzamigo
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: Chuzamigo is a Chuza client for MeeGo
 Chuza is a Galician/Portuguese web site for news promotion. Its
 users can send news, vote them and coment on them.
 .
 Chuzamigo allows you accessing Chuza content, showing you
 the list of news in a way optimized for your device screen -both
 published and pending news-, displaying their comments, and
 making it easy to share them using the system accounts.
 .
 Chuzamigo is a fork of Meneamigo, by Simon Pena.
XB-Maemo-Display-Name: Chuzamigo: a Chuza client for MeeGo
XB-Maemo-Display-Name-es_ES: Chuzamigo: un cliente de Chuza para MeeGo
XB-Description-es_ES: Chuzamigo es un cliente de Chuza para MeeGo
 Chuza es un sitio web de habla gallego y portugues para la promocion de noticias.
 Sus usuarios pueden enviar noticias, votarlas, y publicar comentarios sobre
 ellas.
 .
 Chuzamigo te facilita el acceso al contenido de Chuza, presentandote
 la lista de noticias de un modo optimizado para tu dispositivo -publicadas
 y pendientes-, permitiendote ver tambien los comentarios realizados en
 cada una y facilitando compartir las noticias con las cuentas del sistema.
 .
 Chuzamigo es un fork de Meneamigo, de Simon Pena.
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAKL2lDQ1BJQ0Mg
 cHJvZmlsZQAASMedlndUVNcWh8+9d3qhzTACUobeu8AA0nuTXkVhmBlgKAMO
 MzSxIaICEUVEmiJIUMSA0VAkVkSxEBRUsAckCCgxGEVULG9G1ouurLz38vL7
 46xv7bP3ufvsvc9aFwCSpy+XlwZLAZDKE/CDPJzpEZFRdOwAgAEeYIApAExW
 RrpfsHsIEMnLzYWeIXICXwQB8HpYvAJw09AzgE4H/5+kWel8geiYABGbszkZ
 LBEXiDglS5Auts+KmBqXLGYYJWa+KEERy4k5YZENPvsssqOY2ak8tojFOaez
 U9li7hXxtkwhR8SIr4gLM7mcLBHfErFGijCVK+I34thUDjMDABRJbBdwWIki
 NhExiR8S5CLi5QDgSAlfcdxXLOBkC8SXcklLz+FzExIFdB2WLt3U2ppB9+Rk
 pXAEAsMAJiuZyWfTXdJS05m8HAAW7/xZMuLa0kVFtjS1trQ0NDMy/apQ/3Xz
 b0rc20V6Gfi5ZxCt/4vtr/zSGgBgzIlqs/OLLa4KgM4tAMjd+2LTOACApKhv
 Hde/ug9NPC+JAkG6jbFxVlaWEZfDMhIX9A/9T4e/oa++ZyQ+7o/y0F058Uxh
 ioAurhsrLSVNyKdnpDNZHLrhn4f4Hwf+dR4GQZx4Dp/DE0WEiaaMy0sQtZvH
 5gq4aTw6l/efmvgPw/6kxbkWidL4EVBjjIDUdSpAfu0HKAoRINH7xV3/o2++
 +DAgfnnhKpOLc//vN/1nwaXiJYOb8DnOJSiEzhLyMxf3xM8SoAEBSAIqkAfK
 QB3oAENgBqyALXAEbsAb+IMQEAlWAxZIBKmAD7JAHtgECkEx2An2gGpQBxpB
 M2gFx0EnOAXOg0vgGrgBboP7YBRMgGdgFrwGCxAEYSEyRIHkIRVIE9KHzCAG
 ZA+5Qb5QEBQJxUIJEA8SQnnQZqgYKoOqoXqoGfoeOgmdh65Ag9BdaAyahn6H
 3sEITIKpsBKsBRvDDNgJ9oFD4FVwArwGzoUL4B1wJdwAH4U74PPwNfg2PAo/
 g+cQgBARGqKKGCIMxAXxR6KQeISPrEeKkAqkAWlFupE+5CYyiswgb1EYFAVF
 RxmibFGeqFAUC7UGtR5VgqpGHUZ1oHpRN1FjqFnURzQZrYjWR9ugvdAR6AR0
 FroQXYFuQrejL6JvoyfQrzEYDA2jjbHCeGIiMUmYtZgSzD5MG+YcZhAzjpnD
 YrHyWH2sHdYfy8QKsIXYKuxR7FnsEHYC+wZHxKngzHDuuCgcD5ePq8AdwZ3B
 DeEmcQt4Kbwm3gbvj2fjc/Cl+EZ8N/46fgK/QJAmaBPsCCGEJMImQiWhlXCR
 8IDwkkgkqhGtiYFELnEjsZJ4jHiZOEZ8S5Ih6ZFcSNEkIWkH6RDpHOku6SWZ
 TNYiO5KjyALyDnIz+QL5EfmNBEXCSMJLgi2xQaJGokNiSOK5JF5SU9JJcrVk
 rmSF5AnJ65IzUngpLSkXKabUeqkaqZNSI1Jz0hRpU2l/6VTpEukj0lekp2Sw
 MloybjJsmQKZgzIXZMYpCEWd4kJhUTZTGikXKRNUDFWb6kVNohZTv6MOUGdl
 ZWSXyYbJZsvWyJ6WHaUhNC2aFy2FVko7ThumvVuitMRpCWfJ9iWtS4aWzMst
 lXOU48gVybXJ3ZZ7J0+Xd5NPlt8l3yn/UAGloKcQqJClsF/hosLMUupS26Ws
 pUVLjy+9pwgr6ikGKa5VPKjYrzinpKzkoZSuVKV0QWlGmabsqJykXK58Rnla
 haJir8JVKVc5q/KULkt3oqfQK+m99FlVRVVPVaFqveqA6oKatlqoWr5am9pD
 dYI6Qz1evVy9R31WQ0XDTyNPo0XjniZek6GZqLlXs09zXktbK1xrq1an1pS2
 nLaXdq52i/YDHbKOg84anQadW7oYXYZusu4+3Rt6sJ6FXqJejd51fVjfUp+r
 v09/0ABtYG3AM2gwGDEkGToZZhq2GI4Z0Yx8jfKNOo2eG2sYRxnvMu4z/mhi
 YZJi0mhy31TG1Ns037Tb9HczPTOWWY3ZLXOyubv5BvMu8xfL9Jdxlu1fdseC
 YuFnsdWix+KDpZUl37LVctpKwyrWqtZqhEFlBDBKGJet0dbO1husT1m/tbG0
 Edgct/nN1tA22faI7dRy7eWc5Y3Lx+3U7Jh29Xaj9nT7WPsD9qMOqg5MhwaH
 x47qjmzHJsdJJ12nJKejTs+dTZz5zu3O8y42Lutczrkirh6uRa4DbjJuoW7V
 bo/c1dwT3FvcZz0sPNZ6nPNEe/p47vIc8VLyYnk1e816W3mv8+71IfkE+1T7
 PPbV8+X7dvvBft5+u/0erNBcwVvR6Q/8vfx3+z8M0A5YE/BjICYwILAm8EmQ
 aVBeUF8wJTgm+Ejw6xDnkNKQ+6E6ocLQnjDJsOiw5rD5cNfwsvDRCOOIdRHX
 IhUiuZFdUdiosKimqLmVbiv3rJyItogujB5epb0qe9WV1QqrU1afjpGMYcac
 iEXHhsceiX3P9Gc2MOfivOJq42ZZLqy9rGdsR3Y5e5pjxynjTMbbxZfFTyXY
 JexOmE50SKxInOG6cKu5L5I8k+qS5pP9kw8lf0oJT2lLxaXGpp7kyfCSeb1p
 ymnZaYPp+umF6aNrbNbsWTPL9+E3ZUAZqzK6BFTRz1S/UEe4RTiWaZ9Zk/km
 KyzrRLZ0Ni+7P0cvZ3vOZK577rdrUWtZa3vyVPM25Y2tc1pXvx5aH7e+Z4P6
 hoINExs9Nh7eRNiUvOmnfJP8svxXm8M3dxcoFWwsGN/isaWlUKKQXziy1XZr
 3TbUNu62ge3m26u2fyxiF10tNimuKH5fwiq5+o3pN5XffNoRv2Og1LJ0/07M
 Tt7O4V0Ouw6XSZfllo3v9tvdUU4vLyp/tSdmz5WKZRV1ewl7hXtHK30ru6o0
 qnZWva9OrL5d41zTVqtYu712fh9739B+x/2tdUp1xXXvDnAP3Kn3qO9o0Gqo
 OIg5mHnwSWNYY9+3jG+bmxSaips+HOIdGj0cdLi32aq5+YjikdIWuEXYMn00
 +uiN71y/62o1bK1vo7UVHwPHhMeefh/7/fBxn+M9JxgnWn/Q/KG2ndJe1AF1
 5HTMdiZ2jnZFdg2e9D7Z023b3f6j0Y+HTqmeqjkte7r0DOFMwZlPZ3PPzp1L
 PzdzPuH8eE9Mz/0LERdu9Qb2Dlz0uXj5kvulC31OfWcv210+dcXmysmrjKud
 1yyvdfRb9Lf/ZPFT+4DlQMd1q+tdN6xvdA8uHzwz5DB0/qbrzUu3vG5du73i
 9uBw6PCdkeiR0TvsO1N3U+6+uJd5b+H+xgfoB0UPpR5WPFJ81PCz7s9to5aj
 p8dcx/ofBz++P84af/ZLxi/vJwqekJ9UTKpMNk+ZTZ2adp++8XTl04ln6c8W
 Zgp/lf619rnO8x9+c/ytfzZiduIF/8Wn30teyr889GrZq565gLlHr1NfL8wX
 vZF/c/gt423fu/B3kwtZ77HvKz/ofuj+6PPxwafUT5/+BQOY8/yUGUl9AAAA
 BmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH
 3QwcADU62Xa7cwAAEAFJREFUaN7NmnmUXUWZwH9f3fu2fr2ltyzdkhCWhCww
 7EuC0SAih1FcCJtEBXQYHFkmMEQMo8cDEpRERcUDgaBMWAygonLgMGTkAFEi
 EDVkRwI0WUjSSW+v33pv1Td/3Pded2cjOOCZe051f/dWfVVfffXt9YT9PNc/
 PJ0FFy0H4JcrF/C5468H4NirRS4751oa65O+7/tJa8PafGmg0TpXp+rSiEsp
 IApOHaCIGBCDoIJKUYwMGPyBZDzVE/MSGWsp7u7bHSz+3U+1rwid96J3P3sN
 V3z0DgCuXXIaP5z9x33SKRzguf7h6bTWj2HuOY8AsGT5t+slVjjG2nBSoPkp
 YMcHNugIbalFcQ2Kq0GjORWHUwuAEQ/BVFcUkbyo1+95sd0xL/aO4L3hS3Kt
 b+Lr1fqrZk+7eQfADQ/PkFIY6P6I3+8Gvv7Y6YSlOJiSLLjwBX3s5fk1Wdv9
 VeeCWUXbPyEfZFOBLcSsC0XVoapERCsH9wgCiAgiBiOexrx4mIzXFpKmrtP3
 kk+KS/xg9mm3bJ9991g6RhzB/POXvbcT6LgGbr3wpqTV3KdCLXy7GGQmDpR6
 KAUFRMRKJBeiqogIf89T2bgIqqiqU/H8uNQlGkl59V2eSd4WN6nFl5w6v+9H
 z3yFjW+v4c7LXxw2h9lz0kXPXQPALeffMK4Q9tzbX9jxi65M58RdA9u0UCoo
 IqjDc1bFuYj7zjp1zuGs2xPmQLBGZOOciloMiARBSbsHtuuOTGdrX377wmzQ
 89h9y+ecdPWZ99DROk72ewJzH53Gd2f9AYB7nptzpJP8Ez25d44olAZUUQF0
 yPgI/qD/gsb9pDSl23vj1F58+YzvP6WqXH7XFO67cm10AtcuORWAYs5n7By4
 57nrxoWafaIrs/mIgUKvc6qiCqpU/g/CfMCwIoVSTnf0vdWYd32P3PvctafI
 KGH8mCMBuO7B0yOOXrvkVBTk6EOmJfJh3729+e2fzxX7nTHeUBHTPU5NDwJ+
 Xx6nLjqJmjHLk37dp+/7nzt2T5t4Ogs//0KkAyPSbdwx+0XNB5lPZQrdF+eK
 GVXFWGvVWqthaLHWYq2VMqwHCfN+wOpUiqW89ud3TS+G+etW3AwdzYdH3PzZ
 czdy6Yz5LH7+xpq+3LaV3dltE0NX4v/jIwhN6TFBbaJp6pVn/GTj1fefin/p
 jPkA9Oe6vpot9U0sBnmNzKJIJPEcAN6X2MhBSJHuYUf0Xf2qAFatZoo9Md8k
 bgJm/+iLL0YYdy6bU58t7HimO7vtpMAG+h7lfJ9weZeRn0BUKfMFOSBuxB7V
 IT5GBRVFkLJ1aq7t2Fobb5xx1Vl3bfLP/nabFILeY3Kl7IRiqYAYI/txdAcN
 q4JaFWsFtdHSdTWN9OW6iCX8oUvshWutohZxQcWzqyCK5wvGQ1SUXKGvKSaJ
 6Y+8smiTP/PYTxIEhUmF0kDKKVac8yJuHIwI7QmjoGJDR0fDZGZMOh9RQypR
 S6lUZMGvv0LrqBbUE4xImcAhIqeKDWHaEZ/lsLZ/wjnF9+K8smEZL775W+ob
 0ohB80EukYwVj9rctTLmOw39YlCYUgpLMed0iBPRIZx5L7ASBo4jR52oJ084
 q8rh+fddi9EkzjlFjDhRKhuuBBaoSlwaOG3CuXyo9Yjq0bzR+Rq5vjzp2hRG
 RGwYSinIH23wkj5CMnTB+NCGERG631jpXWFVFRQSpp5jx3+0+j2bG2DtppeI
 t/jRmMF1huE6C57EaakbPYyIbTs3gxhUHajBqiVwwbg4rsYPw6A2CEsdztlo
 QHULe1kblSjqGjQbFVioctFalbSXZmzbhCoBK9ctpyRZkjGPipzLcPJBoVQM
 aGruIJWsreL2ZXpYvupJ0iNTqIJzDhDCMGyxvmv280GuMbBhi7WDYfHe4lHZ
 j42U1IGrcBKikNgIKkIhn2fyIUcNO6O+7G68eBRRlYJQo5RAEFMxLoKI6K6e
 nXLrRTcN4/6f1/0BjZUwcR9F1drIGAVhqbYUFNt9a8M6a8MG53T/4qHg1Iqz
 DuPi1CWbJRWrj9ivKn25LjKlbmIxT3bv7uZrV91WnSCbz/Cb3z9AMllLW3I0
 MT8p1oZYAroyb4v4ihcDVCUsKq0j2qu4ufwAjy5bhCQCPM/HORUp21Jrbco5
 O9K31qadczVV7usQsRFRVLHWSalodXLHqZx13CVy2Oip1NU0Vhfa2vUmK9Y/
 zc+W3aIzp54/zBvlCzmmHfNxzpx2Lh0jx1e/W+t44L8XsGztQySMwdqQQ9qO
 Gsb9gXw/W3tep2FMvCrRWk6crDqssyN8pzZlnRXr3F7KK05RRcKCcsmHvyEz
 jjmXRCy1l5dsbz0Uf22abVu2MvMLs4b1NTe28cVPX4Mxw1MPzzOcOOFMnnn5
 McJYie7+Lr3wEzcO2/yyFb9lIOzWZn+0OHWRQ9TIajlrsc41mCjBUHBUmlRg
 GzrJZgr88wlX8PETLqwSb52lu28Xm7e/SRgG9PTvZs7CLzBp/AkyqumQYYSG
 YUAm20dv/26sDYdnfa2HIi5GWLTUJ9vkmMNOG+T+QD+3Lr6aUaPbRCNBQIfQ
 5pxDnapv1WHVYp2r+BQVAXUqmYGMfu7ka+S8D1+Jlo2NtSF3PvQdVm58lq7+
 7Zw9/TzWbHqFKVMO57gJp2tLw6gqF7du7+SeXy6gc+d6Qhcw8/hzufTTc6pE
 bnxrNdl8P/GU5YhRU6lPN1f77vvVD2j/0CiMX862FZxq1e+JREUDY8tpnqqi
 rpLiOQlCy7FjZ/KZ6V8ZkobDt37yNX79x0U64L9D3SjD8td/rT3ubZL1cY46
 5AR8L1YlYuHPb+LFDb+jn82aNdt5cf3Tw/Lh17esJ5QAVKlNNGkFt7t3Fy+8
 +hS1jWnwIlvuItp0CI1Y6/DVlXPVioHXKAAj9DjxyDMlGa+pLnr7vTfx+78+
 xiGHjxQ/ZaLgIYrUiLk040dPrnJ/y/a32fTOGmpbkqTqYtLb081nP3rpECUO
 2db1BsZXEEM60SBGIj1ZtfElitJPTdJE0Z/ubSGdOqw6/CixBmcrSiyq1lEX
 b5GTJ55ZXXBX9w6eX/U7RrY3YxKoilZiS7VWpSnZzGHtk6vjO7f9DesVSMYM
 oQ21sWa0fOKUC6v9vZlu/vjqMjW1KoYYJ0/8GL4XoxQUeWbFr7BeEfGSqDqs
 3Vd47YFTjCtXBgbzXaVQLMrE0SfSUNtURXh5zXJCyeEnpSqHkWdUioUi7U2H
 43t+pLg25E+rn8V5AeLBrt6dXHLGnGEE7OzZxraeN/BihppYPWOaxwHQ07eL
 jZv/oomUX7WcQ3LxYc2pYpx1Ym0kQlFDdvXs4pPTvjSYkzrHzp6tmKQgfuSF
 K+OtU+nt7WPuxXdUxxdLedZ3/gUTVxyOunizTB1/6rANLLhvHjUNKVGBZKyO
 9tZDAVi76c/8bftq8eMmml+dDNI22KxzWGeN71SLCqjTSlij+VyOMS2DNRjr
 LFt3vgViUQyqqs46ERGyuYyee8plsmfwte6tl3TkuCZxznH46KO1Id08bMyz
 K5/i2FMmqLWB1CdHsOq1P1EqFbl58VWMHfchMGW5d4Li9pnVqdOM71QH1Lm8
 c5qqWJt8IZBUYlB5jRgS8RpKhZB40VAI83j4JBIJurt7mD7lnOHRY1cnRc0h
 pgkXKmNGHEYyPugAFy1dyJiOtrLTMWzY/Gfm3fMlVaeSGiHEk76qIpFv1X3m
 p5FvcL0+TgdUpV9VU9WuPUqcnufxbxfMY9vuN8iUdjF50oky6yNX8JlvTmDK
 +JPl0PbhIcDchZfRNrZNEPA0zulTz5aKiXTW8fizS6hvTKMq0lwzhoSphXoj
 vdmd9AddICoglahG9l1qkZJVunxUetTpbud0ZDm61HQqJRs7VzNh7NQqQjKZ
 YuGch6rvS564Ey9MM3XsaTSkR1S/P/3Cb8i6PkYmatVZK03pDo4ae3y1/0+v
 Pk/J5EjFfM46/mIunnk19WX87r4uzvmPIxnV0YLiyjXXPQ+g/G7IiGOLUSXj
 lHfUKc4pzllaRrRx9+M3H7DE8fbW1/FMjEljj1MvcpcA/Pw3dzByVBsqinPg
 AiWdqqv27+7fCV5ATaKWjx13XpV4gGw2SyEfYCv1VedwTofArkyj4pz2hNZ1
 +QhFkDdUmVnOUsSPeax+ewXfvf96Zp3xZVKJNAoEYUApKPD4sgd4YsXDtI1s
 JubH5a2tf0NRtu7opLe4nXjaICLS29/Nv559C1t3vEWhVCC0Ac+89BjELMUw
 z6Yt66hNNOCc0pfp5srvfIbWtlZUpSxCB6y1bFFsTq746WmmP5O9KlfM3q5R
 Qm8qmU+mN6eu5MmImhacc5or5CST70FNqC2tLeLFhGI+0PxASdQqGNV0Q40k
 a7woWVEknyuSHwjVlZwgEK/xNF2fFID8QElrTKNYq/RkurSmPimptI8XE8TI
 /oqZCqLJeM2Pk4nkDf6ojrj2rcuux0nBKYO5nEgUizglCPtQgURKSDY3IkYq
 YQSJdIxE2ifaQLRwNU1HiafixBIxRCPLIaYcggCpujjWZlFVmmprES+aVxFV
 N4RsHXIKihiRAGTDyBGtgZ8rZkkkEqtKYanTlsIplaqECIhE9sCLarwyZG+D
 sBfFQhLVeobcdWhlDlQqKbDsgRtdkwyphVUUd38FBAXEGK9XRFbcfumTam6f
 9bLe/+8v7fA9/0mpKqNUmooYyq0KR9W1fY8Z+r0CHyxuuf9dmsH3YitPP+nk
 VwHM5T8+JTKT8cQPfON1gbyvpfG/89H9FVI98Yj5/m1fm7nIAZjFV63gX+46
 Uf7rule2GzG3lUNa/b+UFj8gWAXB970HH5771+f/89FZg3dk2VxOv/jjo/F8
 s9gYb9keJeN348o/5EQUxHjeRuN585ZsO4PX3lwTbWD2D6fy4Jy1OAuP3Lim
 L+b784z4veg+N/Fejvt9hQ0miHn+t9rbx3U+vbSLpTes56IFk4c7iQu+O4Wl
 c9dw/vwpZxeLxUdCZ2tF3v8ro/d4EysGCZKJxNcfnbfu+3sOGFbrqKuP8/kF
 U+WRG9c85XnemZ7xllfq9GVO6D9IgatXyMaYjX7Mn10h/vzvTTm4i+6Hdl7A
 L+/+a7NVrrM2vF5VY8PcyftwCbI/OLrYMPie96AxZl48JZ2/uG49F3xvKktv
 WH3gi26AKxYdz+OLVzNidO3ux7+58RvxeHyq7/sPCGxVJa+q+gFYG1XVErDT
 9/ynkvH4jMe/+dolX7psaqdvolB8T+Lf9cce582fgHPCr+ZtiN6/M+mwwJam
 oxzlVI9W1XEi0oJSq5TziSE8rV597GM1gRIiGVXtEZEtIqwSMRs8z1sxccL4
 V28970l3xe0n0asDLL1h3Xv7sQfArNsm8ujXN5SVexJL50aTfPnu4+nvzsYC
 65LqtAYxzYK2AyMRRqA0UL582cuZCAYlA/SK0OWULap0GSM5z0iuqa4+WHTV
 S3vp2UULJvPw9Wv3Sef/ApQFjzpbkvAWAAAAAElFTkSuQmCC
