Source: chuzamobile
Section: user/Other
Priority: extra
Maintainer: Simon Pena <spena@igalia.com>
Build-Depends: debhelper (>= 7), applauncherd-dev,
 maemo-meegotouch-interfaces-dev, libmdatauri-dev
Standards-Version: 3.8.4
XB-Maemo-Flags: visible
XB-Homepage: http://projects.developer.nokia.com/meneamigo
XB-Bugtracker: http://projects.developer.nokia.com/meneamigo/query

Package: chuzamobile
Architecture: any
Depends: qt-components, ${shlibs:Depends}, ${misc:Depends}
Description: Chuza! Mobile is a Chuza client for MeeGo
 Chuza! is a Galician-speaking web site for news promotion. Its
 users can send news, vote them and coment on them.
 .
 Chuza! Mobile allows you accessing Chuza content, showing you
 the list of news in a way optimized for your device screen -both
 published and pending news-, displaying their comments, and
 making it easy to share them using the system accounts.
XB-Maemo-Display-Name: Chuza! Mobile: a Chuza! client
XB-Maemo-Display-Name-gl_ES: Chuza! Móbil: un cliente de Chuza!
XB-Description-gl_ES: Chuza! Móbil é un cliente de Chuza! para MeeGo
 Chuza! é un sitio web en galego para a promoción de novas.
 Os seus usuarios poden enviar novas, votalas, e publicar comentarios
 sobre elas.
 .
 Chuza! Móbil facilítache o acceso ao contido de Chuza!, presentándoche
 a lista de novas dun xeito optimizado para o teu dispositivo -publicadas
 e pendentes-, permitíndote ver tamén os comentarios realizados en
 cada unha, e facilitando compartir as novas coas contas do sistema.
XB-Maemo-Icon-26:
  iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAKRWlDQ1BJQ0Mg
 cHJvZmlsZQAAeNqdU2dUU+kWPffe9EJLiICUS29SFQggUkKLgBSRJiohCRBK
 iCGh2RVRwRFFRQQbyKCIA46OgIwVUSwMigrYB+Qhoo6Do4iKyvvhe6Nr1rz3
 5s3+tdc+56zznbPPB8AIDJZIM1E1gAypQh4R4IPHxMbh5C5AgQokcAAQCLNk
 IXP9IwEA+H48PCsiwAe+AAF40wsIAMBNm8AwHIf/D+pCmVwBgIQBwHSROEsI
 gBQAQHqOQqYAQEYBgJ2YJlMAoAQAYMtjYuMAUC0AYCd/5tMAgJ34mXsBAFuU
 IRUBoJEAIBNliEQAaDsArM9WikUAWDAAFGZLxDkA2C0AMElXZkgAsLcAwM4Q
 C7IACAwAMFGIhSkABHsAYMgjI3gAhJkAFEbyVzzxK64Q5yoAAHiZsjy5JDlF
 gVsILXEHV1cuHijOSRcrFDZhAmGaQC7CeZkZMoE0D+DzzAAAoJEVEeCD8/14
 zg6uzs42jrYOXy3qvwb/ImJi4/7lz6twQAAA4XR+0f4sL7MagDsGgG3+oiXu
 BGheC6B194tmsg9AtQCg6dpX83D4fjw8RaGQudnZ5eTk2ErEQlthyld9/mfC
 X8BX/Wz5fjz89/XgvuIkgTJdgUcE+ODCzPRMpRzPkgmEYtzmj0f8twv//B3T
 IsRJYrlYKhTjURJxjkSajPMypSKJQpIpxSXS/2Ti3yz7Az7fNQCwaj4Be5Et
 qF1jA/ZLJxBYdMDi9wAA8rtvwdQoCAOAaIPhz3f/7z/9R6AlAIBmSZJxAABe
 RCQuVMqzP8cIAABEoIEqsEEb9MEYLMAGHMEF3MEL/GA2hEIkxMJCEEIKZIAc
 cmAprIJCKIbNsB0qYC/UQB00wFFohpNwDi7CVbgOPXAP+mEInsEovIEJBEHI
 CBNhIdqIAWKKWCOOCBeZhfghwUgEEoskIMmIFFEiS5E1SDFSilQgVUgd8j1y
 AjmHXEa6kTvIADKC/Ia8RzGUgbJRPdQMtUO5qDcahEaiC9BkdDGajxagm9By
 tBo9jDah59CraA/ajz5DxzDA6BgHM8RsMC7Gw0KxOCwJk2PLsSKsDKvGGrBW
 rAO7ifVjz7F3BBKBRcAJNgR3QiBhHkFIWExYTthIqCAcJDQR2gk3CQOEUcIn
 IpOoS7QmuhH5xBhiMjGHWEgsI9YSjxMvEHuIQ8Q3JBKJQzInuZACSbGkVNIS
 0kbSblIj6SypmzRIGiOTydpka7IHOZQsICvIheSd5MPkM+Qb5CHyWwqdYkBx
 pPhT4ihSympKGeUQ5TTlBmWYMkFVo5pS3aihVBE1j1pCraG2Uq9Rh6gTNHWa
 Oc2DFklLpa2ildMaaBdo92mv6HS6Ed2VHk6X0FfSy+lH6JfoA/R3DA2GFYPH
 iGcoGZsYBxhnGXcYr5hMphnTixnHVDA3MeuY55kPmW9VWCq2KnwVkcoKlUqV
 JpUbKi9Uqaqmqt6qC1XzVctUj6leU32uRlUzU+OpCdSWq1WqnVDrUxtTZ6k7
 qIeqZ6hvVD+kfln9iQZZw0zDT0OkUaCxX+O8xiALYxmzeCwhaw2rhnWBNcQm
 sc3ZfHYqu5j9HbuLPaqpoTlDM0ozV7NS85RmPwfjmHH4nHROCecop5fzfore
 FO8p4ikbpjRMuTFlXGuqlpeWWKtIq1GrR+u9Nq7tp52mvUW7WfuBDkHHSidc
 J0dnj84FnedT2VPdpwqnFk09OvWuLqprpRuhu0R3v26n7pievl6Ankxvp955
 vef6HH0v/VT9bfqn9UcMWAazDCQG2wzOGDzFNXFvPB0vx9vxUUNdw0BDpWGV
 YZfhhJG50Tyj1UaNRg+MacZc4yTjbcZtxqMmBiYhJktN6k3umlJNuaYppjtM
 O0zHzczNos3WmTWbPTHXMueb55vXm9+3YFp4Wiy2qLa4ZUmy5FqmWe62vG6F
 WjlZpVhVWl2zRq2drSXWu627pxGnuU6TTque1mfDsPG2ybaptxmw5dgG2662
 bbZ9YWdiF2e3xa7D7pO9k326fY39PQcNh9kOqx1aHX5ztHIUOlY63prOnO4/
 fcX0lukvZ1jPEM/YM+O2E8spxGmdU5vTR2cXZ7lzg/OIi4lLgssulz4umxvG
 3ci95Ep09XFd4XrS9Z2bs5vC7ajbr+427mnuh9yfzDSfKZ5ZM3PQw8hD4FHl
 0T8Ln5Uwa9+sfk9DT4FntecjL2MvkVet17C3pXeq92HvFz72PnKf4z7jPDfe
 Mt5ZX8w3wLfIt8tPw2+eX4XfQ38j/2T/ev/RAKeAJQFnA4mBQYFbAvv4enwh
 v44/Ottl9rLZ7UGMoLlBFUGPgq2C5cGtIWjI7JCtIffnmM6RzmkOhVB+6NbQ
 B2HmYYvDfgwnhYeFV4Y/jnCIWBrRMZc1d9HcQ3PfRPpElkTem2cxTzmvLUo1
 Kj6qLmo82je6NLo/xi5mWczVWJ1YSWxLHDkuKq42bmy+3/zt84fineIL43sX
 mC/IXXB5oc7C9IWnFqkuEiw6lkBMiE44lPBBECqoFowl8hN3JY4KecIdwmci
 L9E20YjYQ1wqHk7ySCpNepLskbw1eSTFM6Us5bmEJ6mQvEwNTN2bOp4WmnYg
 bTI9Or0xg5KRkHFCqiFNk7Zn6mfmZnbLrGWFsv7Fbou3Lx6VB8lrs5CsBVkt
 CrZCpuhUWijXKgeyZ2VXZr/Nico5lqueK83tzLPK25A3nO+f/+0SwhLhkral
 hktXLR1Y5r2sajmyPHF52wrjFQUrhlYGrDy4irYqbdVPq+1Xl65+vSZ6TWuB
 XsHKgsG1AWvrC1UK5YV969zX7V1PWC9Z37Vh+oadGz4ViYquFNsXlxV/2Cjc
 eOUbh2/Kv5nclLSpq8S5ZM9m0mbp5t4tnlsOlqqX5pcObg3Z2rQN31a07fX2
 Rdsvl80o27uDtkO5o788uLxlp8nOzTs/VKRU9FT6VDbu0t21Ydf4btHuG3u8
 9jTs1dtbvPf9Psm+21UBVU3VZtVl+0n7s/c/romq6fiW+21drU5tce3HA9ID
 /QcjDrbXudTVHdI9VFKP1ivrRw7HH77+ne93LQ02DVWNnMbiI3BEeeTp9wnf
 9x4NOtp2jHus4QfTH3YdZx0vakKa8ppGm1Oa+1tiW7pPzD7R1ureevxH2x8P
 nDQ8WXlK81TJadrpgtOTZ/LPjJ2VnX1+LvncYNuitnvnY87fag9v77oQdOHS
 Rf+L5zu8O85c8rh08rLb5RNXuFearzpfbep06jz+k9NPx7ucu5quuVxrue56
 vbV7ZvfpG543zt30vXnxFv/W1Z45Pd2983pv98X39d8W3X5yJ/3Oy7vZdyfu
 rbxPvF/0QO1B2UPdh9U/W/7c2O/cf2rAd6Dz0dxH9waFg8/+kfWPD0MFj5mP
 y4YNhuueOD45OeI/cv3p/KdDz2TPJp4X/qL+y64XFi9++NXr187RmNGhl/KX
 k79tfKX96sDrGa/bxsLGHr7JeDMxXvRW++3Bd9x3He+j3w9P5Hwgfyj/aPmx
 9VPQp/uTGZOT/wQDmPP87zWUggAAAAZiS0dEAP8A/wD/oL2nkwAAAAlwSFlz
 AAALEwAACxMBAJqcGAAAAAd0SU1FB9sMChMGDSjrjTsAABBSSURBVHja7V15
 cBTXmf+91z2HpJE0QlgICaThEqexjIFw2Qy2gw0uErGxy2vHMZCN197NbtlJ
 ebPZrd0leLPZrXirYtbrJNhOcdjY6wJiYWIgdjBC3PeAuQViJAES9+gYzdX9
 vv2jZ4YZTffMSCiIQ19Vl6Bb773v/d53v9ctoJduititGuiVndPLATgAlAPI
 Df+Edo85utYruQG4w/9xAWgO/3T/dvIW1x0L4Ms7HrEDcAKYDqCcMeaMPGsN
 eaCSAp/qBQAEVT+Cwh/XXiEFPqUt7l6GbIPM5Lh7Zm6FWbJqz6UsSExGtsl+
 A16iqjCgWwBULZlS7bltAfzrHQ87AFQwsHkAylVS0BZqhk9tQ6vSDJ/SBpWU
 WyLtEpORIduQLeciQ7LBZsqFpIHvItByAJXvTtnqvi0AfGnHNCeAVxlYRVD4
 0Ry8iubQVbSFmm8rW2Uz5SLXlI9ccz7M3AoCVQJY/N6UbVU9AuBL26c6ASwE
 4GwOXcP1wCU0h67eEYY/15SPPEsBck19AKAKwKL3pm6vuiUA/lX1FDsYFgJ4
 rSV4DRfazyIoAnekBzVzC4oyByHH3AcA3gJh0e8e2eH5swG4oGpyOYBPQyLg
 aPCehldpuStCkSw5BwOzhsLELW4Ac5c6d7q6HcD5mybNB8PS64HLaGyvu2UO
 4VaRxGT0zyxFnuU+gLBg2WO7lnUbgPP+9I35AJY2ttfhqr/prg6M862F6J9Z
 CgALlj++e9lNA/i9LybOB7D0fFstPMEr90R2YTf3RbFtMAAs+GDmnmVdBvC7
 G8aXM8YONnnrcdV/8Z5K0fKt/VCYVQIienDlrH2uTgP4/Ofj7YzhoCdw1XGh
 7ew9mecW2QbBbsl3E+HBj57ap+udZcMsU9DCoAg6mlrrQXRvFgqaWuuRwW0O
 EzcvBPCjtCXwmU/GOSUrNte31MAbar2nqy1ZpmyU5AyD6seMVc8eqEpLApmJ
 Frb4m+EN3NvgAYA30IoWvwc2U+7CcNaSXAKfWV3uBMPm2uvHEBJB9BJg4mYM
 zhsFEGasetpVlVQChUKvepVmBEO94EUoqAbR6vMgS859taMUxkngt98f65Bt
 OHuh1Y22YEsvcrHVHHMOirIdUNowaO0PDrt1JZBnUkUgFESrvxe8jtTqb0HA
 GoAp01wB4C1dAEmheW2BFpDoBUyP2vwtsFvy58UCGFXhOctG2Rlj18+3uOEP
 eXvR0iGrKQvFOQ4QUd66+cc88RJIcKpCgS/QC54R+QJeqKoCziQngMo4AIWg
 6e1Bb6/6pqD2gBeZ5uzpCQBCUHkg6Ad6AUxKgaAfmbKtPMGJCEHO9kB7rwSm
 lMB25FrJGY1cAOCJd8rKSSUEQn6QQO+V5AqE/CCV8MQ7ZeVRCSSVHMQBofaK
 XyoSEBCCAAEHAJcGIFG5P+ADqbcfwzI3QeYmWGQLTJIZV7w9X9j1BdphlTPK
 AVRqAArKVVW1x+3fk6Ofhj0jH6OLxqPYPhD9cgYiw5QJmZtgli244KnDd96d
 AOrhAqWqqiBOuVEVFgLlwWCgxz3w4mdXhaN7AoEBJMAYjz4/1ngQpPZ8dTcY
 DMAqZcXYQEEQYSPZo0QExhgApqVIMeABwO7aqtsiStCwIsQC6FCUENCDi2uW
 zABLssdFwK4zX3ULj5xx5GXdh1SdtQfa4Au1J9xXlBBIkCPOCyuK0qNOZNyg
 aWAE3U0GgobtwbO7umWs0oIyfPH68ZS/94+rvo81e5fqAKiA1FgAiTT7Rz2p
 Fsarx4jg8Xm6jb9RheUwWKu4Vdtzukp/TIGoIws7EYoGij0HoDE6xBiqT2zo
 Nv765vQ3lPYIeCERRP0V/e1cEjf41QBUCUKlnlXhgVMNJ8QAuC/VdBt//XNK
 IobBYMGAFdX/azieYBpeMU4knIX0oAQ+NHiq4ZwECeyu2dJt/A3sUwqKeHqD
 Bftg668NxxOqiGpDNIwJKaFuYY4zCYwx5GX2wciB5SAS8Ad92H92JzhjUA1s
 3aOjnwKRAAPXZdjj9UQ3+CUugYFhrGMiMs1ZOFK/H63+ZsO+O1JeVkFSh3+l
 5TIarrgNDxSENC8cU40RdNOrWzHhu6iY8AKG9R+NorwBmtukG0tKIHjarqH2
 4knsqa3G2+t/Dl9QK97mZNjDnpbr9q2oQZxtOom/mPAinpm0ACOK70duVp84
 GfIHfTjScAA/X/NjHKrbkzSEsVmzjW0xCZy5eBxCTbEYcTZQ6Zr9M0kmOEfP
 wq9fXg2TZIIQApzzeF2I/pMhz5aPh2yTMbhwBH619mfRMQf2GZzUI3JJxpf/
 dhzFfUoAIt140WrOwLjBU1D5k9341n9OxOG6vfrqyXnCaf+4scCx9/TWlHgI
 JdYGEnX6/Is9qw8+++kelBQMBiMGQR3AMw5K8KOl30MgdONYcOl9Q5PZdJhl
 M4r7lICimYqRdDEQgI9f24RJ/1SCFl/ieSBZMiPbmpPE4wObv96QEo9IGMMj
 qYnMTJoap3E95JiMHf9Rh9KCIZoaMU01UoYqRDjecBibD62P6684rxQiDRuS
 DLxYobeaszCy+AFd3hkxcC4ZRS9gRNhXsz3p/GVmghAxBVUSBAiWVkGxIKcI
 H7++GZkZtqghTdvBAPjNxl8m9Dl+yNS0FiBdkiSGIYUjdfmXuQW2jFyDgB34
 /MCalBhoWMWqsEo3EE5CNms2vnzjCMyyRdM2nv4ZdQLgvngalTtWJjwb3G94
 GnWGG5UZQSI54MRQaC/SnY8ECWaTxVB8f79tRWqHyhCtCkXDGKLUmcivXvoQ
 9kx70hxIkEBrewtCqna2xiSbkWWxQZZkPP/mTN0xhvYfnhR5lVR4fW3Ye3ob
 cjLtGFM6DlaT1VilGeBpuaY7FocE2QB8X6Adrtr9KXEgnliNuSGFBjSgbyme
 GPctzZAbFBmDagjz/nsWvj67H21+7WhcpiULxX1L8dSEp3HuUl1iYt9vSNKs
 9GJzI/727Wext2Zb1HCPHTQef/jZbsPqjRACNReO686nJH8QiCUG0URamNXS
 dj2lBJJKHQAE3BySg4RxML34lZUx9bpECqhBlC3ITLjv9XlxquEYTjW8oV+F
 HjcXxPQhFELgj/sqsfvE1rj7Zy6cNGwT0YJrzVd0JalfXrF+HswYTp47Cp/f
 l9qWSxLAtbdEI3Ggm4E7jFx3acEQTBw+RQvB9AJdoeK5XzzepaPAE8qmGIYw
 nHGcaTyV0K8smVNWdpquXdDlp6x4tIHWE1Zv/SCtOTBwqEFyx6lwMifivH+m
 ljsaLPllTxP2n9zVpXLTg0MmhwfmujHZqfqjCXyV5A8yBJ1IgAi4eK1Rd7zc
 DLuu9BKAtds/Tm8OHSvSALkYJKeR8RzlKE9S+SF8tv2TLm2JZlmzIUsmwxSO
 EXCq4ViCKvazFxlXbhjHoTN7DB3BlDGPgXXIZggEV81eqGnOgUECQK4bKhxC
 MyNmKIFTRz2apDOGL/at61IunW/riwxLpmHQzRlD45XziQtaWg4Obhgu7T+5
 y5AfEkJ3DpsOrE97DowYRAjNNyTQTC4ekAz1v6jvgKQdtra3dMn+2TJyYDFb
 DIPunce26vY7vHiUoRNhBKzeutKQn9PnT8J1Zn9cWyLC2u2fpD0HziXAHCOB
 artmEJlgunuuZtmaNE4Tigp0oRhx/6BxxpLEGI7XunT7fWDoBOPAhxGOnTlk
 OOYrbz57U1kOYwykElisFz610uMq+0s7OCQoum9hJq/eThwxDUdqD3Wamcmj
 nElz2tVb9CWptHCwIUfnLjcklSSTbMLDYx/HuOETIVSB6sN/wr4TO9NPE5kE
 qMCxJR5XjBPRPtAgcdmpKJ17jZWB8JPn/x0f/vF9BEOde/H6oRGTkj4/4T6S
 YJfKSkZGbRnTqf40XHQb2rKZE+dgxb98pqWF4bb/8Pwb2HOsGt/+6fT0AJTl
 yMcsbhQTtNiJXAxcS+k6XMm3rxjs2Xn4/M2deGbGi5g4chomjZ6OF554Gb99
 /WPs+10d+ucP0O13SNEwkEHccLn5krZ92KHNjAdnA0S6pTNBAjUNx3XHmj/7
 h1jxr2shEA88kcDE0Y9g/uwf6rbreDFwCEHRlw9jDlhiiwTpNb3Vc58/g0HF
 Q5OuzJjBD+DtHy+PUS2CIK1Gl5thxwVxLu73HUVDNf9nsDiXrjZCCSkJ0jRu
 xCTDFI6D41R9Ygo3dMBw/NffvB3mh3dwCNr/X5j5Ayxd905qCYQECGxJkEAS
 qCKhJdsdyzdf7d8IkcJFRWI5Fhuvhyc6vHRMQp9TRk83jFmFELh0vQmKoiaW
 vsq+YcwLA06cPZLQ5jszXoAQFOVHz8Tn2wtSlrFisElU4dpPWzxMgkvmsuYz
 Yq7PqleBM63q3FkiALMnVST0OWHkZEPLwDlHTf2JhDbZGTnIsGQYAwHg7PnT
 Ce0efuCxpNVyYkDT5XMJ7TpeMpfBJLhqP23xJAAYzomXS1LifsHOr6ux+qsP
 DUOOVAiOG5XoLIYMGA4yWBACsOfotsRtBFserAaBd6SvBp2KDzhLmqIxACvW
 v5tGoVaGUGh5x3g1SpZCVDLGoAfi3/1yHg7V7Nfivk5IImPAwILSDsUAGXnZ
 fYxTOAAHTiburGVYM2G1WA1NyOFT+3Wf7XRVgQxzUcLFa01Ys/mjlOAxxmAp
 1E7n6wJ4ckmbGxJVyjoAChL45t+Px+rNH4KRtnkTWdU4SSKNKQrXCH0BH/7v
 y2WJm0T9SpNu2Jy7VJ9wf1r5o0kr0dWuTbr331v7PwgGA3FzARGICBc9lzD+
 RQf8weRlLFmSAYkqTy5pc3dc7PhKx5xMJ4DN/qDP8CTo0IEj8Nj4JzFz8hyM
 KB2D++wF0aT80rUmnKo/geqDX2Ln19U4WnsYXl/8e8cSlzDn4acN4iNCi7cZ
 X+3bmPBk9KCxGFYyymBHjmProU24fF3/CHBBXiH++fu/wHMz54OB4bj7KN6v
 XIzfb/4IXr83ZfZhNWcAwIz6de1VSQEMg7hZFaqzs4Hx3UpmkwUSl6rq17XP
 0MvZE/XdRos452nu897dFMFBstEi/bhQhzxHFHfucJOdc2mSqqr3MHwMZpMF
 jLG36tb4lhhVjYwM+SIAblmW71n4wnN3h7FApwA89we/B8BciUuQDHby72aK
 mffcMBZIW4Uj1HJKacoeJtVxzisI6PH3M26d3ZMQDuUWnP88sDF5bpyCWmtU
 V06ZXMc5r8A9AKIUD96y1MWFNKi1RnXlDJPqOOMVrIs58R1h8yQ5orYLzq8P
 LkunTac+wFg821wO4FMCORRVuWukkTEGWZLBwNwA5p5fH0z7A4yd8g6tNWpT
 9jC+HICVcz4pneNmtztwkhR1Fm8BeO7C+pC7c4FOF6lotsmJ8EdoBQntdbE7
 RLU542CcRfLqKgCLLqwPVXUtUrxJKpptchLRqwAqIok6hRP1203aGIuCBm5C
 JSlscVeB6zYAI9R/luwIgzgP4c+8ExEI1COARgBjYLEHolwAlgOobNyguLtl
 nD8H8/1nyXGfgg//G7GgRkthepVOSrwfOUqcOAEWnUkHsCLqGf0UfOMG5fb9
 FHwqKnxSSvLHCODoYrduGPwxgqaNqgu9dPvT/wPjfGQEaJrSNQAAAABJRU5E
 rkJggg==
